/* Start Footer */
p {
    color: #737373 !important;
}

#mainFooter {
    background-color: #000000;
}

#mainFooter .footer-links:hover i {
    color: white !important;
}

#mainFooter .footer-links {
    transition: all 0.3s;
    color: #737373 !important;
}

#mainFooter .footer-links:hover {
    background-color: #F95300 !important;
    transform: scale(1.2);
}

#mainFooter a {
    color: #737373 !important;
    transition: all 0.3s !important;
}

#mainFooter a:hover {
    color: #F95300 !important;
    transition: all 0.3s !important;
}

#mainFooter ul li a:hover::before {
    content: '>';
    color: #F95300;
    margin: 10px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

h4 {
    position: relative;
    margin-right: 50px;
}

h4::before {
    content: '';
    width: 35px;
    height: 3px;
    background-color: #F95300;
    position: absolute;
    top: 50%;
    left: 103%;
}

.footer-logo {
    width: 44px;
    height: 44px;
}
.footer-logo-para{
    color: white !important;
}

input[type="email"] {
    border: none;
}

input[type="email"]::placeholder {
    color: rgba(255, 255, 255, 0.324) !important;
    padding: 10px;
}

input[type="email"]:focus {
    border: 2px solid #F95300 !important;
    outline: none !important;
    box-shadow: none !important;
}

/* End Footer */


/* md-screen */
@media (min-width: 768px) {

    /* Footer */
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
    }

    .footer-content-head p {
        font-size: 1.172rem;
    }
}

/* lg-screen */
@media (min-width: 992px) {

    /* Footer */
    .footer-content {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 2rem;
    }

    .footer-content-head p {
        font-size: 1.25rem !important;
    }
}