img{
    width: 48px;
    height: 48px;
}

.nav-large-scrn-links{
    display: grid !important;
    grid-template-columns: repeat(1,1fr) !important;
    grid-template-rows: repeat(1,1fr) !important;
}

.active{
    background-color: #F64D00 !important;
    padding: 0.75rem;
    border-radius: 1.25rem;
}
.active-sm{
    background-color: #2D1D13 !important;
    color: #F64D00;
    padding: 0.75rem;
    border-radius: 0.75rem;
    margin: 0.175rem;
}