section{
    background-color: #0a0a0a;
}

.bg-main{
    background-image: linear-gradient(#26262680 1px, #0000 1px), linear-gradient(90deg, #26262680 1px, #0000 1px);
    background-size: 60px 60px;
}

.Hero-Section .col-12 {
    background-image: radial-gradient(circle at center,
            rgba(42, 25, 8, 0.8) 0%,
            rgba(42, 25, 8, 0.4) 40%,
            rgba(42, 25, 8, 0) 100%);
}

.secondary-btn{
    background-color: #0000;
    border: 1px solid #333;
}

.hero-section-stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.badge-mine{
    background-color: #25150A;
}

@media (min-width: 769px) {
 .hero-section-stats{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}   
}