<section>
    <app-header [isStatsNone]="false" [isHomeBtnNone]="false" [headerBadge]="headerBadge"
        [startHeaderH1]="startHeaderH1" [speacialHeaderH1]="speacialHeaderH1" [endHeaderH1]="endHeaderH1"
        [headerMainParag]="headerMainParag" [HomeBtnOne]="HomeBtnOne" [HomeBtnTwo]="HomeBtnTwo" />
</section>
<section class="Articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="my-5 mx-2  d-inline-flex flex-column align-items-start gap-3 text-white">
                    <div
                        class="badge-mine p-2 border border-orange-500 rounded-pill d-flex align-items-center justify-content-center text-orange-500 small">
                        <i class="fa-solid fa-circle text-orange-500 smaller"></i>
                        <i class="fa-solid fa-circle text-orange-500 small"></i>مميز
                    </div>
                    <h2>مقالات مختارة</h2>
                    <p>محتوى منتقى لبدء رحلة تعلمك</p>
                    <a class="text-decoration-none text-center text-white fw-bold w-100" routerLink="blog">
                        <div class="p-3 rounded-pill bg-orange-500 bg-gradient">
                            عرض الكل
                        </div>
                    </a>
                    <section aria-label="articles-sections">
                        @for (article of data.postsArray.posts; track $index; let i = $index) {
                        @if (article.featured) {
                        <section class="container my-5">
                            <app-article [article]="article" [index]="i"></app-article>
                        </section>
                        }
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>