<div class="d-flex justify-content-between w-100 p-1 mb-3">
    <div class="text-white">
        عرض {{categLength}} مقالات
    </div>
    <div class="d-flex gap-2">
        <div (click)="onSetView('Grid')" class="badge bg-dark bg-opacity-50 fs-4" [class]="{'viewBtnactive': flag }">
            <i class="fa-solid fa-grip"></i>
        </div>
        <div (click)="onSetView('List')" class="badge bg-dark bg-opacity-50 fs-4" [class]="{'viewBtnactive': !flag }">
            <i class="fa-solid fa-grip-lines"></i>
        </div>
    </div>
</div>
<div [class]="{'articlesection': articlesection, 'articleSectionLine':articleSectionLine}">
    @for (article of data.postsArray.posts; track $index; let i = $index) {
    @switch (categ) {
    @case (Categories.All) {
    <app-article [article]="article" [index]="i" [itemID]="article.id" />
    }
    @case (Categories.Light) {
    @if(article.category === 'إضاءة'){
    <app-article [article]="article" [index]="i" [itemID]="article.id" />
    }
    }
    @case (Categories.portrait) {
    @if(article.category === 'بورتريه'){
    <app-article [article]="article" [index]="i" [itemID]="article.id" />
    }
    }
    @case (Categories.Sights) {
    @if(article.category === 'مناظر طبيعية'){
    <app-article [article]="article" [index]="i" [itemID]="article.id" />
    }
    }
    @case (Categories.Tech) {
    @if(article.category === 'تقنيات'){
    <app-article [article]="article" [index]="i" [itemID]="article.id" />
    }
    }
    @case (Categories.Appliances) {
    @if(article.category === 'معدات'){
    <app-article [article]="article" [index]="i" [itemID]="article.id" />
    }
    }
    }
    }
</div>