section {
    background-color: #0a0a0a;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.324) !important;
    padding: 10px;
}

input[type="text"]:focus {
    border: 2px solid #F95300 !important;
    outline: none !important;
    box-shadow: none !important;
}

.active-sm {
    background-color: #2D1D13 !important;
    color: #F64D00;
    padding: 0.75rem;
    border-radius: 0.75rem;
    margin: 0.175rem;
}

.article-categories {
    cursor: pointer;
}

.article-categories-active{
    background-color: #F64D00 !important;
}